#tinymce.content {
	max-width: 606px;
}
.wp-caption-dd {
	font-style: italic;
	color: #888;
	text-align: center;
}

.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single {
	border-color: #eee;
	border-radius: 4px;
}
.select2-container .select2-selection--single {
	height: 35px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 33px;
		width: 30px;
}
.customize-control-kirki-radio-image label {
	margin-right: 4px;
}
