/*--------------------------------------------------------------
# Color
--------------------------------------------------------------*/
/*
.woocommerce-tabs ul.tabs li a:hover,
.woocommerce-tabs ul.tabs li.active a
{
	color: #000;
}
.btn,
.woocommerce button.button,
.woocommerce button.button.alt,
.woocommerce a.button,
.woocommerce a.button.alt,
.woocommerce .button,
.woocommerce input.button,
.woocommerce input.button.alt,
.woocommerce #respond input#submit,
input.btn,
.label,
.wpcf7-submit,
.mc4wp-form input[type="submit"],
.widget_wysija input[type="submit"]
{
	background: #000;
}

.featured-post-content .btn
{
	background: #000;
}


a:hover,

a:hover i,


.nav-search .searchform button:hover:before,
.post-bottom .post-share-links a:hover,
.nav-btn-list li:hover i,
.nav-btn-list a:hover i,
.footer-widgets .widget-social a:hover,
.post-pagination a:hover span
{
	color: #000;
}
.btn:hover,
input.btn:hover,
.woocommerce button.button:hover,
.woocommerce button.button.alt:hover,
.woocommerce a.button:hover,
.woocommerce a.button.alt:hover,
.woocommerce .button:hover,
.woocommerce input.button:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit:hover,
.wpcf7-submit:hover,
.mc4wp-form input[type="submit"]:hover,
.widget_wysija input[type="submit"]:hover,
footer .scroll-top:hover i
{
	background: #3a3c3c;
}



.text-light, .text-light * {
	color: #888;
}
*/
