/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
    background-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

q,
blockquote {
  quotes: "" "";
}

q::before, q::after,
blockquote::before,
blockquote::after {
  content: "";
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
}

ul {
  list-style: disc;
  li {
      line-height: 1.6;
  }
}

ol {
  list-style: decimal;
  li {
      line-height: 1.6;
  }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #222;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}


svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}


/*--------------------------------------------------------------
# Icons
--------------------------------------------------------------*/
.icon--wordpress,
.icon--snapchat-ghost {
  -webkit-transform: scale(1) !important;
      -ms-transform: scale(1) !important;
          transform: scale(1) !important;
}

.svg-fallback {
  display: none;
}

.no-svg .svg-fallback {
  display: inline-block;
}

/* Social Menu fallbacks */
.no-svg .social-navigation a {
  background: transparent;
  height: auto;
  width: auto;
}

/* Show screen reader text in some cases */
.no-svg .social-navigation li a .screen-reader-text {
  clip: auto;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  position: relative;
  width: auto;
}

dt {
  font-weight: bold;
  margin-bottom: 15px;
}

dd {
  margin: 0 20px 20px;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

table,
th,
td {
  border: 1px solid #e4e4e4;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  line-height: 1.5;
  margin: 0 0 24px;
  table-layout: fixed;
  a {
      border: none;
  }
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

th {
  border-width: 0 1px 1px 0;
  color: #222;
}

td {
  border-width: 0 1px 1px 0;
}

th,
td {
  padding: 15px;
}

.hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: circle(1% at 1% 1%);
          clip-path: circle(1% at 1% 1%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  display: none;
}

.flex__center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 100%;
  min-width: 0;
}

.flex__justify-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex__justify-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.style__italic {
  font-style: italic;
}

.style__bold {
  font-weight: bold;
}

.style__bold-italic {
  font-style: italic;
  font-weight: bold;
}

.align__center {
  text-align: center;
}

.transform__uppercase {
  text-transform: uppercase;
}

.transform__lowercase {
  text-transform: lowercase;
}

.transform__capitalize {
  text-transform: capitalize;
}

.yorkup--highlight {
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
  padding: 1px;
}

.svg__wrapper {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.svg__wrapper a,
.svg__wrapper div,
.svg__wrapper svg,
.svg__wrapper button {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.svg__wrapper a::after {
  display: none;
}

.svg__wrapper svg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.customize-partial-edit-shortcut svg {
    vertical-align: baseline !important;
}

#sprite {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: circle(1% at 1% 1%);
          clip-path: circle(1% at 1% 1%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/*--------------------------------------------------------------
# Fields
--------------------------------------------------------------*/
select,
textarea,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="search"] {
    display: inline-block;
    font-weight: normal;
    line-height: 1.2;
    height: 48px;
    line-height: 48px;
    font-size: 14.5px;
    padding: 0 15px;
    position: relative;
    vertical-align: middle;
    width: 100%;
    border: 1px solid;
    border-color: rgba(119,119,119,0.13);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

select {
    /* needed */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* SVG background image */
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
    background-size: 9px;
    background-position: calc(100% - 12px) 56%;
    background-repeat: no-repeat;
}

textarea,
textarea[rows] {
    padding: 8px 15px;
    resize: vertical;
    height: auto;
    line-height: 22px;
    margin-bottom: 2px;
}

select:hover,
textarea:hover,
input[type="text"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="password"]:hover,
input[type="search"]:hover {
  outline: none;
}

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus {
    box-shadow: 0 0 15px rgba(119,119,119,0.05);
    border-color: rgba(119,119,119,0.3);
    color: #222;
    outline: 0;
    z-index: 2;
}

.wpcf7-form {
    select, textarea, input {
        margin-bottom: 0;
    }
}

.entry-content p + .wpcf7 {
  margin-top: 50px;
}

.wpcf7-form-control-wrap {
  display: block;
  margin-top: 5px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 8px;
    font-weight: 500;
    color: #000;
    font-size: 16px;
}

body .js--focus .input-control::before {
  background: #c6c6c6;
}

body .js--focus .input-control::after {
  border-color: #c6c6c6;
}

::-webkit-input-placeholder {
  color: #bbb;
}

.js--focus ::-webkit-input-placeholder {
  color: #bbb;
}

:-moz-placeholder {
  color: #bbb;
}

.js--focus :-moz-placeholder {
  color: #bbb;
}

::-moz-placeholder {
  color: #bbb;
  opacity: 1;
}

.js--focus ::-moz-placeholder {
  color: #bbb;
}

:-ms-input-placeholder {
  color: #bbb;
}

.js--focus :-ms-input-placeholder {
  color: #bbb;
}

.input-control {
  height: 40px;
  position: absolute;
  right: 2px;
  top: 2px;
}

.input-control::after, .input-control::before {
  -webkit-transition: border-color 150ms cubic-bezier(0.645, 0.045, 0.355, 1), background 150ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 150ms cubic-bezier(0.645, 0.045, 0.355, 1), background 150ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.input-control::before {
  background: #e6e6e6;
  content: "";
  height: 2px;
  position: absolute;
  right: 15px;
  top: 18px;
  width: 24px;
  z-index: 99;
}

.js--hover .input-control::before {
  background: #d6d6d6;
}

.input-control::after {
  border-bottom: 2px solid #e6e6e6;
  border-right: 2px solid #e6e6e6;
  content: " ";
  display: block;
  height: 12px;
  position: absolute;
  right: 16px;
  top: 13px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 12px;
  z-index: 99;
}

.js--hover .input-control::after {
  border-color: #d6d6d6;
}

.input-control button,
.input-control input[type="submit"] {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  height: inherit;
  padding: 0;
  text-indent: -9999em;
  width: 40px;
  z-index: 999;
}

.input-control button:hover, .input-control button:focus,
.input-control input[type="submit"]:hover,
.input-control input[type="submit"]:focus {
  background-color: transparent;
}

.mc4wp-subscribe-wrapper {
  margin: 25px auto;
  max-width: 360px;
  position: relative;
}

@media (min-width: 600px) {
  .mc4wp-subscribe-wrapper {
    width: 100%;
  }
}

.mc4wp-subscribe-wrapper select {
  display: none;
}

.mc4wp-form-fields input {
  padding-right: 50px;
}

.mc4wp-form-success input {
  border-color: #2cb994;
}

.mc4wp-form-error input {
  border-color: #e85c41;
}

.mc4wp-form-fields input[type="submit"] {
  width: 50px;
}

.mc4wp-alert {
  color: #e85c41;
  font-size: 14px;
  line-height: 1.3em;
}

.mc4wp-error {
  color: #e85c41;
  font-size: 14px;
}

.mc4wp-response .mc4wp-alert {
  margin-top: -35px;
}

.mc4wp-response p {
  font-size: 14px;
  margin-bottom: 40px;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-left: 0;
    margin-right: 30px;
    margin-bottom: 15px;
    margin-top: 8px;
}

.alignright {
    display: inline;
    float: right;
    margin-right: 0;
    margin-left: 30px;
    margin-bottom: 15px;
    margin-top: 8px;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    clear: both;
}

.alignnone {
    margin-top: 25px;
    margin-bottom: 25px;

}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear,
.clearfix,
.textwidget,
.site-footer,
.entry-content,
.primary-menu,
article[class^="post-"] {
  *zoom: 1;
}

.clear:before, .clear:after,
.clearfix:before,
.clearfix:after,
.textwidget:before,
.textwidget:after,
.site-footer:before,
.site-footer:after,
.entry-content:before,
.entry-content:after,
.primary-menu:before,
.primary-menu:after,
article[class^="post-"]:before,
article[class^="post-"]:after {
  content: "";
  display: table;
}

.clear:after,
.clearfix:after,
.textwidget:after,
.site-footer:after,
.entry-content:after,
.primary-menu:after,
article[class^="post-"]:after {
  clear: both;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.size-full,
.size-large,
.alignnone {
  display: block;
  height: auto;
  max-width: 100%;
  width: auto;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 15px;
  max-width: 100%;
  text-align: center;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption-text {
    color: #999;
    font-size: 14px;
    line-height: 1.4;
    margin-top: 14px;
    font-style: italic;
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.entry-content .tiled-gallery {
  margin: 10% 0;
}

.tiled-gallery .tiled-gallery-item a {
  cursor: default;
  pointer-events: none;
}

.entry-content .tiled-gallery-caption {
  font-size: 14px;
  padding: 7px 5px;
  text-align: center;
}

.gallery {
  float: left;
  margin: 0 -7px;
}
.widget .gallery {
    float: none;
}

.gallery-item {
  float: left;
  margin-left: 0;
  text-align: center;
  margin: 0;
  padding: 7px;
}
.widget .gallery-item {
    padding: 3px;
}

.gallery-item img {
  border: none;
  margin: 10px 0;
  padding: 0;
}

.gallery-caption {
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  margin: 0;
  padding: 0 7px;
  text-align: center;
}

.gallery:after {
	display: table;
	content: "";
	clear: both;
}

.gallery-columns-1 .gallery-item {
	width: 100%;
	float: none;
}
.gallery-columns-2 .gallery-item {
	width: 50%
}
.gallery-columns-3 .gallery-item {
	width: 33.3333%
}
.gallery-columns-4 .gallery-item {
	width: 25%
}
.gallery-columns-5 .gallery-item {
	width: 20%
}
.gallery-columns-6 .gallery-item {
	width: 16.6667%
}
.gallery-columns-7 .gallery-item {
	width: 14.2857%
}
.gallery-columns-8 .gallery-item {
	width: 12.5%
}
.gallery-columns-9 .gallery-item {
	width: 11.1111%
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: left;
}

/*--------------------------------------------------------------
# WP Audio Player
--------------------------------------------------------------*/
.wp-audio-shortcode {
    margin-bottom: 25px;
    a {
        border: none !important;
    }
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
          clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  color: #fff;
  display: none;
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
  word-wrap: normal;
}

.screen-reader-text:focus {
  font-size: 16px;
  font-size: 1rem;
  background-color: #f1f1f1;
  border-radius: 3px;
  clip: auto;
  color: #21759b;
  display: block;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 0.9375rem;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

#content[tabindex="-1"]:focus {
  outline: 0;
}
