/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer.voss-footer {
	/* General */
	position: relative;
	p, a {
		color: #888
	}
	a:hover {
		color: #000;
	}
	/* Disclaimer */
	.footer-disclaimer {
		font-size: 13px;
	}
	/* Back to top */
	.scroll-top {
		display: block;
		cursor: pointer;
		background: rgba(0,0,0,.3);
		font-size: 11.1px;
		color: rgba(17, 17, 17, 0.46);
		width: 41px;
	    height: 41px;
		svg {
			fill: #fff;
			stroke: #fff;
			width: 11px;
			height: 41px;
		}
	}
	.scroll-top:hover i {
		color: #fff !important;
	}
	.scroll-top i {
		color: #fff !important;
		font-size: 7px;
		line-height: 0;
		padding-left: 3px;
		position: relative;
	}
	.footer-to-top {
		position: absolute;
		right: 45px;
		bottom: 50px;
	}
	.scroll-top {
		opacity: 1;
	}
	.scroll-top i {
		transition: background .3s;
		-webkit-transition: background .3s;
		-moz-transition: background .3s;
	}
	.scroll-top i {
		position: absolute;
		right: 0;
		bottom: 0;
		padding: 0;
		width: 60px;
		text-align: center;
		height: 60px;
		line-height: 60px;
		padding-left: 1px;
		font-size: 16px;
		background-color: #000;
		border-radius: 50%;
		color: #fff;
	}
	@media (max-width:580px) {
		.footer-to-top {
			right: 25px;
			bottom: 25px;
		}
	}
}

/* Footer Widgets */
.footer-widgets .widget-title {
	text-align: center;
	margin-top: 0;
	margin-bottom: 26px;
}
.footer-widgets {
	padding-top: 40px;
	padding-bottom: 40px;
	.row {
		@media (min-width: 992px) {
			> div:first-child {
				padding: 0 15px;
				padding-right: 30px;
			}
			> div {
				padding: 0 22.5px;
			}
			> div:last-child {
				padding: 0 15px;
				padding-left: 30px
			}
		}
	}
}


.footer-v2 {
	width: 100%;
	background-color: #fff;
	position: relative;
	padding: 10px;
	box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.08);
}

.footer-logo {
	display: block;
	width: auto;
}
.footer-logo-img,
.woocommerce .footer-logo-img,
.woocommerce-page .footer-logo-img {
	height: auto;
	width: auto;
	max-width: 134px;
}

/* Footer Menu */
.voss-footer .footer-menu {
	margin: 0;
}
@media (min-width:992px) {
	.voss-footer .main-navigation.footer-menu li a {
		letter-spacing: 1px;
		padding: 0 11px;
		line-height: 1.2;
		text-decoration: none;
	}
	.footer-menu .menu-item-has-children>a::after {
		color: rgba(118, 118, 118, 0.75);
	}
	.voss-footer .main-navigation.footer-menu .sub-menu {
		background: #18191a;
		top: 50%;
		left: 84%;

		-webkit-transform: translateY(calc(-50% - .5px));
		-moz-transform: translateY(calc(-50% - .5px));
		transform: translateY(calc(-50% - .5px));
	}
	.voss-footer .main-navigation.footer-menu .sub-menu > li a {
		border: none;
		padding: 3px 11px !important;
	}
	.voss-footer .main-navigation.footer-menu ul li > ul,
	.voss-footer .main-navigation.footer-menu ul li:hover > ul {
		-webkit-transition: all .02s;
		-moz-transition: all .02s;
		transition: all .02s;
		transition-delay: 0s;
	}
	.voss-footer .main-navigation.footer-menu li ul li ul.sub-menu {
		margin-left: 34px;
		box-shadow: 16px 0 90px 0 rgb(0, 0, 0);
	}
}


/* Footer One */
.footer-v1 {
	overflow: hidden;
	text-align: center;
	.footer-widgets {
		border-top: 1px solid;
		border-color: rgba(119, 119, 119, 0.13);
	}
	.footer-newsletter {
		padding-top: 10px;
		padding-bottom: 5px;
		margin-bottom: 30px;
	}
	.footer-logo {
		margin-top: 5px;
		margin-bottom: 30px;
	}
	.footer-social {
		margin-bottom: 30px;
		a {
			font-size: 17px;
			margin: 0 6px;
			color: #000;
		}
	}
	.footer-menu {
		margin-bottom: 25px;
		li a {
			font-weight: 300;
			font-size: 12.1px;
			color: #888;
		}
	}
	.footer-disclaimer {
		p {
			font-size: 14px;
			margin: 0;
		}
	}
}


/* Footer Bottom */
.footer-bottom {
	width: 100%;
	padding: 80px 0;
	border-top: 1px solid #e2e6e8;
}
